.mobileBanner{
  
  width: 25% !important;
    position: absolute !important;
    z-index: 1;
    /* bottom: -5px; */
    top: -15%;
    left: 121px;
 
}
.mainContainer{
  position: relative;
  margin-bottom: 7rem;
  margin-top: 7rem;
}
.cardDesign{
  background-color:#FFF9EB;
  padding:2rem ;
  height: 60vh;
  border-radius: 1.5rem;
  border:none;
  
}
.cardText{
  padding: 3rem;
  padding-left: 40%;
}
.textContent{
  letter-spacing: 0.7px;
  line-height: 30px;
  font-family: "poppins";
  font-weight: 600;
  font-size: 12px;
}
.cardTitle{
  line-height: 52px;
  font-size: xx-large;
  font-family: "Nunito";
  font-weight: bold;
}

.getGpay{
  font-size: 11px;
  margin-bottom: 0rem;
  line-height: 14px;
}
.gpayLogo{
  width: 2rem;
   
}
.gPay{
  margin-bottom: 0rem;
  color:#222222;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: "poppins";
  font-size: larger;

}
.gpayCard{
  /* background-color: white;
  border:1px solid white; */
  border-radius: 0.2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 17px;
  margin-bottom:0.5rem;
  margin-top:1.7rem;
}
.googlePay{
  padding: 0.7rem;
  border:1px solid white;
  border-radius: 0.5rem;
}

@media only screen and (min-width: 1440px){
  .mobileBanner{
    /* top: -24% !important;
    left: 140px !important; */
    width: 23% !important;
   
    
  }

}
@media only screen and (max-width: 1024px){
  .mobileBanner{
    width: 27% !important;
    left: 115px;
}
.cardText{
  padding-top: 0rem;
  padding-bottom: 0rem;
  font-size: large;
}
.textContent{
  line-height: 25px;
}
.gPay{
  font-size: small;
}
.cardTitle{
  font-size: x-large;
}
}


