.container {
  width: 100%;
  height: 30%;
  margin-top: 1rem;
}
/* dropDown/Search */
.dropdown {
  align-items: center;
  display: flex;
  width: 104%;
}
.dropdown select {
  width: 40%;
  height: 39px;
  color: #222222;
  font-family: "Poppins";
  font-weight: 900;
  font-size: small;
  text-align: center;
  background-color: #f8f8f8;
  border-radius: 0.2rem;
  border: none;
  letter-spacing: 1px;
  cursor: pointer;
  outline:none;
}
select {
  cursor: pointer;
}

.searchIcon {
  position: relative;
}

.dropdown input {
  width: 80% !important;
  height: 39px;
  border: none;
  position: absolute;
  font-size: revert;
  text-align: center;
  border-radius: 0.2rem;
  background-color: #f8f8f8;
  font-family: "Poppins";
  font-size: small;
  padding: 7px;
  display: flex;
  outline: none;
}

.searchIcon {
  position: absolute;
}
.search {
  
  position: relative;
  right: 28px;
  padding: 3px;
}
.logo {
  left: 154px;
  top: 42px;
  width: 165px;
  height: 40px;
}
.mainImg {
  align-self: center;
  cursor: pointer;
}
.contact2 {
  height: 16px;
  left: 1358px;
  top: 52px;
  font-size: 10px;
  font-size: 12px;
  display: flex;
  justify-content: end;
  font-weight: 900;
  font-family: "Poppins";
  letter-spacing: 1px;
  margin-bottom: 0rem;
}
.contact1 {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  text-transform: capitalize;
  color: #898989;
  display: flex;
  justify-content: end;
  font-family: "Poppins";
  letter-spacing: 1px;
}
.contact {
  cursor: pointer;
}
.iconContent {
  display: flex;
  gap: 1rem;
}

/* Icons */

.icon2 {
  background-color: #f1f1f1;
  border-radius: 1.2rem;
  width: 0.4rem;
  height: 1rem;
  padding: 0.3rem;
}
.icon3 {
  background-color: #f1f1f1;
  border-radius: 1.2rem;
  width: 0.4rem;
  height: 1rem;
  padding: 0.2rem;
  background-color: #f1f1f1;
}
.icon1 {
  background-color: #f1f1f1;
  border-radius: 1.2rem;
  width: 0.2rem;
  height: 1rem;
  padding: 0.2rem;
}

.icons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
.iconContent {
  align-self: center;
  display: flex;
  gap: 2rem;
  cursor: pointer;
}

.text1 {
  font-size: 0.8rem;
  color: #898989;
  text-align: start;
  margin: 0rem;
  padding: 0rem;
  letter-spacing: 0.5px;
}
.text2 {
  font-weight: 600;
  margin: 0rem;
  padding: 0rem;
  letter-spacing: 0.5px;
}

.line {
  background-color: #f6f6f6;
}

/* Bottom Header */
.gift {
  width: 8%;
  height: fit-content;
  margin-right: 0.3rem;
}
.couponCode {
  justify-content: flex-end;
  cursor: pointer;
}
.textLine {
  font-size: 0.8rem;
  text-align: center;
  align-items: center;
  margin-bottom: 0rem;
  font-weight: bold;
  font-family: "Poppins";
  letter-spacing: 1px;
}
.pages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.department {
  border: none;
  font-family: "Poppins";
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 1px;
}
.btnStyle:hover {
  border-radius: 0.3rem;
  background-color: none;
  background-color: #ffc43f;
  color: black;
  letter-spacing: 0.23px;
  font-size: smaller;
  padding:0.3rem 0.9rem;
}
.btnStyle{
  font-size: smaller;
  padding:0.3rem 0.9rem;
}
button {
  border: none;
  border-radius: 0.5rem;
  background-color: white;
  margin-left: 0.8rem;
  transition-duration: 0.4s;
  font-family: "Poppins";
  padding: 0.3rem 0.6rem;
  letter-spacing: 0.3px;
}
.contact {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* //@media Query */
@media only screen and (max-width: 320px) {
  .mainImg {
    display: flex;
    justify-content: center;
  }
  .logo {
    left: 0px;
    top: 0px;
    width: 70%;
    height: 70%;
    margin: 1rem;
  }
  .dropdown {
    margin: 0.5rem;
  }
  .search {
    position: absolute;
    top: 101px;
  }
  .mobileNo {
    display: none;
  }
  .icons {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 0rem;
  }
  .icon1 {
    margin: 0rem;
  }
  .text1,
  .text2 {
    display: none;
  }
  .pages {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
  }
  .couponCode {
    justify-content: center !important;
  }
  .department {
    margin-bottom: 0.5rem;
    margin-top: 0.2rem;
  }
  .dropDown {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 375px) {
  .mainImg {
    display: flex;
    justify-content: center;
  }
  .logo {
    left: 0px;
    top: 0px;
    width: 63%;
    height: 70%;
    margin: 1rem;
  }
  .dropdown {
    margin: 0.5rem;
  }
  .search {
    position: absolute;
    top: 111px;
  }
  .mobileNo {
    display: none;
  }
  .gift {
    width: 22px;
  }
  .icons {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 0rem;
  }
  .icon1 {
    margin: 0rem;
  }
  .text1,
  .text2 {
    display: none;
  }
  .pages {
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .couponCode {
    justify-content: center !important;
  }
  .department {
    margin-bottom: 0.5rem;
    margin-top: 0.2rem;
  }
  .dropDown {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 425px) {
  .mainImg {
    display: flex;
    justify-content: center;
  }
  .logo {
    left: 0px;
    top: 0px;
    width: 58%;
    height: 70%;
    margin: 1rem;
  }
  .dropdown {
    margin: 0.5rem;
  }
  .search {
    position: relative;
    top: auto !important;
  }
  .mobileNo {
    display: none;
  }
  .gift {
    width: 22px;
  }
  .icons {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 0rem;
  }
  .icon1 {
    margin: 0rem;
  }
  .text1,
  .text2 {
    display: none;
  }
  .pages {
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .couponCode {
    justify-content: center !important;
  }
  .department {
    margin-bottom: 0.5rem;
    margin-top: 0.2rem;
  }
  .dropDown {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 768px) {
  .search {
    top: 34px;
  }
  .logo {
    width: 143px;
    height: 35px;
  }
  .dropDown {
    width: 100%;
    padding-left: 1rem;
  }
  select {
    padding: 0rem;
  }

  .text1,
  .text2 {
    display: none;
  }
  .gift,
  .textLine {
    display: none;
  }
  .icon1 {
    margin-left: 0rem;
    margin-bottom: 1px;
  }
}
@media only screen and (min-width: 1440px) {
  .search {
    right: 35px;
  }
}
@media only screen and (max-width: 1024px) {
  .logo {
    width: 145px;
    height: 35px;
  }
  .icons {
    gap: 5px;
  }
  .iconContent {
    gap: 1rem;
  }
  .inputBox {
    font-size: x-small !important;
  }
}
@media only screen and (max-width: 1024px) {
}
