.mainContainer {
  margin-top: 7rem;
  margin-bottom: 3rem;
}
h6 {
  font-size: 11px;
  font-family: "poppins";
  color: black;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0rem;
  letter-spacing: 0.3px;
}
.cardStyle {
  /* padding-right: 0.1px; */
  /* padding-left: 0.1px; */
  padding: 9px 8px;
  background-color: #fcf7eb;
  border: none;
}
.cardRow1 {
  line-height: 3rem;
}
.title {
  /* font-family: "poppins"; */
  font-weight: 600;
  font-size: x-large;
  letter-spacing: 1px;
  color: black;
  margin-bottom: 2.5rem;
}
@media only screen and (max-width: 1024px) {
  h6 {
    font-size: 8px;
  }
  .cardStyle {
    padding: 12px 7px;
  }
}
