.productHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.productSubtitle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
  cursor: pointer;
  letter-spacing: 0.5px;
}
.subTitle {
  font-size: 0.7rem;
  color: #858585;
  font-family: "Poppins";
  font-weight: 900;
}
.subTitle:hover {
  color: black;
  font-weight: 900;
}
.productDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.cardPrice {
    font-family: "Poppins";
    font-weight: bold;
    font-size: 13px;
    margin-top: 1rem;
    margin-bottom: 0rem;
    line-height: 1rem;
    color: black;
    letter-spacing: 0.3px;
}
.cardPrice:hover{
    color:#FFA801;
    font-family: "Poppins";
    /* font-weight: 900; */
    font-weight: bold;

}
.unitText {
  color: #9d9d9d;
  font-family: "poppins";
  font-weight: 600;
  margin-bottom: 0rem;
  font-size: small;
  margin-top: 0.2rem;
}
.star {
  width: 0.8rem;
  height: 0.7rem;
  margin-top: 0.3rem;
}
.product {
  width: 100%;
  /* margin-left: 2rem; */
  height: 200px;
}
.cardStyle {
  /* background: #F9F9F9; */
  padding: 0.7rem;
  width: 20%;
  height: 320px;
  border: 1px solid #ffffff;
  box-shadow: 0px 5px 22px rgb(0 0 0 / 8%);
  border-radius: 9px;

}
.cardImg {
  background: #f9f9f9;
  height: 180px;
  border: 1px;
}
.add {
  width: 14px;
  height: 12px;
  margin-top: 0.4rem;
  background-color: #F2F2F2;
  padding: 4px;
  border-radius: 3px;
   }

.add:hover{
    background-color:#E2E2E2
}
.sub:hover{
  background-color:#E2E2E2
}
.sub{
 width: 16px;
    height: 13px;
    padding-top: 0.7rem;
    margin-top: 0.4rem;
    background-color: #F2F2F2;
    padding: 6px;
    border-radius: 3px;
}
.addCard {
  font-size: 0.7rem;
  font-family: "Poppins";
  font-weight: bold;
  color: #787878;
  letter-spacing: 0.5px;
  font-weight: bold;
}
.addCard:hover{
    color:#222222;
    font-family: "Poppins";
    letter-spacing: 0.5px;
    font-weight: bold;
}
.price {
  font-weight: 600;
  margin-bottom: 0rem;
  margin-top: 0.5rem;
  
}
.title{
  letter-spacing: 1px;
  
}
.fixedPoint{
  font-size: small;
  width: fit-content;
  font-weight: bold;
}

