.cardBanner1 {
  background-image: url("../../assets/Images/bgpattern.png");
  background-image: url("../../assets/Images/Rectangle86.png");
  display: flex;
  flex-direction: row;
  padding: 1rem;
  align-items: center;
}
.pexels1 {
  width: 18rem;
  margin-left: 15rem;
}
.pexels2 {
  width: 15rem;
  margin-left: 15rem;
}
.discount {
  font-family: "Nunito", sans-serif;
  font-family: "poppins", sans-serif;
  color: #bc4b68;
  letter-spacing: 0.02em;
  font-weight: 600;
}
.content {
  line-height: 20px;
 
  line-height: 20px;
  position: absolute;
  padding-left: 1rem;
  justify-content: center;
  
}
.title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: bold;
  font-size: x-large;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #222222;
}
.mainTitle{
  margin-bottom: 0rem;
}
.banner{
  margin: 3rem 0rem;
}
.subTitle{
  letter-spacing: 0.03em;
  font-weight: 600;
color: #777777;
font-family: "poppins";
font-size: 12px;
    width: 83%;
}
.btnShop{
  background: #222222;
border-radius: 4px;
color:white;
font-family: "poppins";
font-size: small;
width: 33%;

}
button{
  padding:0.5rem;
}
.card2{
  width: 49%;
}
.cardBanner2{
  background: #E1F7F9;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  align-items: center;
  width: 98%;
}
@media only screen and (max-width: 1024px){
  .pexels1 {
    width: 14.5rem;
   

}
.pexels2{
width: 12rem;

}

}
@media only screen and (max-width: 1440px){
  .pexels1 {
    width: 53%;
    margin-left: 18rem !important;
   }
   .content{
    padding-left: 2rem;
   }
.pexels2{
  width: 46%;
margin-left: 18rem !important;

}

}
@media only screen and (min-width: 320px) and (max-width: 425px){
  .discount{
    font-size: small;
}
.title{    font-size: smaller;;
}
.subTitle{
  font-size: 10px;
}
.btnShop{
 
  font-size: x-small;
  width: 25%;
}
button{
  padding: 0.3rem;
}
.cardBanner1{
  width: 72%;
  padding: 10px;
}
.banner{
  flex-wrap: wrap;
  gap:1rem;
  
}
.cardBanner1 {
  width: 100%;
}
.pexels1{
  width: 70%;
  margin-left: 7rem;
}
.pexels2{
  width: 55%;
  margin-left: 9rem;
}
.content{
  line-height: 14px;
  padding-left: 0rem;
}
.card2{
  width: 100%;

}
.subTitle{
 
  width: 56%;
}


}